## MUHAMMAD FIKRI
## 2109106010
## INFORMATIKA A1-21
## POSTTEST 8 KB

# IMPORT LIBRARY

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from keras import datasets
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split

# DISINI SAYA MENGGUNAKNA DATASET SOCIAL NETWORK
## dan kita import datasetnya

In [2]:
data = pd.read_csv('Social_Network_Ads.csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

# Untuk melihat jenis data

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

# Cek data yang null

In [5]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

# Data spliting

In [6]:
X = data[['User ID', 'Age', 'EstimatedSalary', 'Purchased']]
Y = data[['User ID', 'Age', 'EstimatedSalary', 'Purchased']]

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1 , random_state=0)

In [8]:
X_test.shape

(40, 4)

In [9]:
Y_test.shape

(40, 4)

In [10]:
X_train.shape

(360, 4)

In [11]:
Y_train.shape

(360, 4)

# membuat model

In [12]:
model_mnist = Sequential()

## buat input layer

In [13]:
model_mnist.add(Dense(512, activation='relu', input_dim = 4))

## buat hidden layer

In [14]:
model_mnist.add(Dense(256, activation='relu'))
model_mnist.add(Dense(128, activation='relu'))

## buat output layer

In [15]:
model_mnist.add(Dense(4, activation='softmax'))

# DNN

In [16]:
model_mnist.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 512)               2560

 dense_1 (Dense)             (None, 256)               131328

 dense_2 (Dense)             (None, 128)               32896

 dense_3 (Dense)             (None, 4)                 516

=================================================================
Total params: 167,300
Trainable params: 167,300
Non-trainable params: 0
_________________________________________________________________

## OPTIMASLISASI

In [17]:
model_mnist.compile(
    optimizer = 'adam', 
    loss = 'categorical_crossentropy', 
    metrics = ['accuracy']
)

In [18]:
hasil = model_mnist.fit(
    X_train, 
    Y_train, 
    epochs = 30, 
    batch_size = 128, 
    validation_data = (X_test, Y_test)
)

Epoch 1/30
3/3 [==============================] - 1s 159ms/step - loss: 2188379422720.0000 - accuracy: 0.6444 - val_loss: 293576671232.0000 - val_accuracy: 1.0000
Epoch 2/30
3/3 [==============================] - 0s 27ms/step - loss: 382876942336.0000 - accuracy: 1.0000 - val_loss: 610048802816.0000 - val_accuracy: 1.0000
Epoch 3/30
3/3 [==============================] - 0s 26ms/step - loss: 724502315008.0000 - accuracy: 1.0000 - val_loss: 1025436745728.0000 - val_accuracy: 1.0000
Epoch 4/30
3/3 [==============================] - 0s 27ms/step - loss: 1178707296256.0000 - accuracy: 1.0000 - val_loss: 1579527962624.0000 - val_accuracy: 1.0000
Epoch 5/30
3/3 [==============================] - 0s 27ms/step - loss: 1777550884864.0000 - accuracy: 1.0000 - val_loss: 2305267597312.0000 - val_accuracy: 1.0000
Epoch 6/30
3/3 [==============================] - 0s 25ms/step - loss: 2567827095552.0000 - accuracy: 1.0000 - val_loss: 3248211623936.0000 - val_accuracy: 1.0000
Epoch 7/30
3/3 [==============================] - 0s 27ms/step - loss: 3591958691840.0000 - accuracy: 1.0000 - val_loss: 4476846473216.0000 - val_accuracy: 1.0000
Epoch 8/30
3/3 [==============================] - 0s 26ms/step - loss: 4908554649600.0000 - accuracy: 1.0000 - val_loss: 6046968971264.0000 - val_accuracy: 1.0000
Epoch 9/30
3/3 [==============================] - 0s 26ms/step - loss: 6600836251648.0000 - accuracy: 1.0000 - val_loss: 8023534206976.0000 - val_accuracy: 1.0000
Epoch 10/30
3/3 [==============================] - 0s 31ms/step - loss: 8725264859136.0000 - accuracy: 1.0000 - val_loss: 10479795699712.0000 - val_accuracy: 1.0000
Epoch 11/30
3/3 [==============================] - 0s 27ms/step - loss: 11358567399424.0000 - accuracy: 1.0000 - val_loss: 13496953602048.0000 - val_accuracy: 1.0000
Epoch 12/30
3/3 [==============================] - 0s 24ms/step - loss: 14588601958400.0000 - accuracy: 1.0000 - val_loss: 17163380326400.0000 - val_accuracy: 1.0000
Epoch 13/30
3/3 [==============================] - 0s 26ms/step - loss: 18416324837376.0000 - accuracy: 1.0000 - val_loss: 21567987777536.0000 - val_accuracy: 1.0000
Epoch 14/30
3/3 [==============================] - 0s 27ms/step - loss: 23050854596608.0000 - accuracy: 1.0000 - val_loss: 26815370362880.0000 - val_accuracy: 1.0000
Epoch 15/30
3/3 [==============================] - 0s 26ms/step - loss: 28525641859072.0000 - accuracy: 1.0000 - val_loss: 33016275533824.0000 - val_accuracy: 1.0000
Epoch 16/30
3/3 [==============================] - 0s 27ms/step - loss: 35016633483264.0000 - accuracy: 1.0000 - val_loss: 40288470958080.0000 - val_accuracy: 1.0000
Epoch 17/30
3/3 [==============================] - 0s 26ms/step - loss: 42831133540352.0000 - accuracy: 1.0000 - val_loss: 48759278927872.0000 - val_accuracy: 1.0000
Epoch 18/30
3/3 [==============================] - 0s 27ms/step - loss: 51435156799488.0000 - accuracy: 1.0000 - val_loss: 58505125953536.0000 - val_accuracy: 1.0000
Epoch 19/30
3/3 [==============================] - 0s 32ms/step - loss: 61566338727936.0000 - accuracy: 1.0000 - val_loss: 69643456741376.0000 - val_accuracy: 1.0000
Epoch 20/30
3/3 [==============================] - 0s 27ms/step - loss: 73275975663616.0000 - accuracy: 1.0000 - val_loss: 82344757166080.0000 - val_accuracy: 1.0000
Epoch 21/30
3/3 [==============================] - 0s 26ms/step - loss: 86426687373312.0000 - accuracy: 1.0000 - val_loss: 96757727887360.0000 - val_accuracy: 1.0000
Epoch 22/30
3/3 [==============================] - 0s 24ms/step - loss: 101113328041984.0000 - accuracy: 1.0000 - val_loss: 113045770600448.0000 - val_accuracy: 1.0000
Epoch 23/30
3/3 [==============================] - 0s 23ms/step - loss: 118262662692864.0000 - accuracy: 1.0000 - val_loss: 131382487547904.0000 - val_accuracy: 1.0000
Epoch 24/30
3/3 [==============================] - 0s 26ms/step - loss: 137031132905472.0000 - accuracy: 1.0000 - val_loss: 151915476287488.0000 - val_accuracy: 1.0000
Epoch 25/30
3/3 [==============================] - 0s 24ms/step - loss: 158144437157888.0000 - accuracy: 1.0000 - val_loss: 174827482644480.0000 - val_accuracy: 1.0000
Epoch 26/30
3/3 [==============================] - 0s 24ms/step - loss: 182174695292928.0000 - accuracy: 1.0000 - val_loss: 200308651196416.0000 - val_accuracy: 1.0000
Epoch 27/30
3/3 [==============================] - 0s 25ms/step - loss: 207865511936000.0000 - accuracy: 1.0000 - val_loss: 228498601934848.0000 - val_accuracy: 1.0000
Epoch 28/30
3/3 [==============================] - 0s 30ms/step - loss: 237015287201792.0000 - accuracy: 1.0000 - val_loss: 259633457397760.0000 - val_accuracy: 1.0000
Epoch 29/30
3/3 [==============================] - 0s 26ms/step - loss: 268965599248384.0000 - accuracy: 1.0000 - val_loss: 293887499304960.0000 - val_accuracy: 1.0000
Epoch 30/30
3/3 [==============================] - 0s 24ms/step - loss: 304126332239872.0000 - accuracy: 1.0000 - val_loss: 331460175200256.0000 - val_accuracy: 1.0000

# EVALUASI DATA

In [25]:
score = model_mnist.evaluate(X_test, Y_test)
print("Loss :",score[0])
print("Training :",score[1])

2/2 [==============================] - 0s 5ms/step - loss: 331460175200256.0000 - accuracy: 1.0000
Loss : 331460175200256.0
Training : 1.0

In [26]:
print("Akurasi validasi :", hasil.history["val_accuracy"][-1] * 100, "%")
print("Akurasi :", hasil.history["accuracy"][-1] * 100, "%")

Akurasi validasi : 100.0 %
Akurasi : 100.0 %